body {
    font-family: 'Lato', sans-serif;
    background: #f6f6f6;
    max-width: 1440px;
}

.main {
    position: relative;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 80px;
    background: rgba(255, 255, 255, 1);
    padding-left: 135px;
    padding-right: 135px;
    box-sizing: border-box;
}

.nav {
    display: flex;
    gap: 28px;
    text-transform: uppercase;
}

.nav__link {
    text-decoration: none;
    color: rgba(60, 60, 60, 1);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.nav__link:hover{
    color: #18B5DC;;
}

.btn {
   width: 130px;
   height: 42px;
   background: white;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 10px 20px;
   border: 1px solid #3C3C3C;
   gap: 10;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   text-transform: uppercase;
   color: #3C3C3C;
}

.btn:hover {
    background-color: #18B5DC;
    color: rgba(255, 255, 255, 1);
}

.about {
    display: flex;
    flex-direction: column;
    
}

.about__title {  
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: black    ;
}

.about__text {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #3C3C3C;
}

.cards {
    display: flex;
}

.flip-card-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 1440px;
    padding-top: 60px;
}

.flip-card__title__1 {
    padding-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    width: 170px;
    height: 22px;
    color: #282528;   
}

.flip-card__title__2 {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    width: 170px;
    height: 22px;
    color: #646464;
    padding-bottom: 150px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;          /*Doesn´t work*/
    height: 260px;
    background: white;
    padding-top: 50px;
}

.footer__nav {
    display: flex;
    gap: 28px;
    text-transform: uppercase;
}

.footer__link {
    padding-top: 35px;
    text-decoration: none;
    color: rgba(60, 60, 60, 1);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.footer__link:hover {
    color: rgba(24, 181, 220, 1);
}

.footer__socials {
    padding-top: 35px;
    padding-bottom: 40px;
}

.photo:hover {
    border: 3px solid rgba(24, 181, 220, 1);
}


